<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <meta charset="UTF-8"/>
    <title th:text="${status}">404</title>
</head>
<body>
<div>
	<h1> Oops etwas ist komplett schiefgelaufen</h1>
    <p th:text="${error}">Not found</p>
    <p th:text="${message}"> This page is not available</p>
    <br/>
    <p><a href="/home" class="button">Zurück zum Startbildschirm</a></p>
</div>
</body>
</html>