<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>WhatToDo</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p><a href="/package/addPackageForm">Add new Package</a></p>
	<p><a href="/package/listAll">See all Packages</a></p>
	<br></br>
	<p><a href="/user/addUserForm">Add new User</a></p>
	<p><a href="/user/listAll">List all Users</a></p>
	<br></br>
	<p><a href="/tour/makeTour">Make a new Tour</a></p>
	<p><a href="/tour/listAll">List all Tours</a></p>

</body>
</html>