<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tourverwalter</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Tourverwalter</h1>
	<p><a href="/package/addPackageForm">Erfasse ein neues Paket</a></p>
	<p><a href="/package/listAll">Zeige alle Pakete</a></p>
	<br></br>
	<p><a href="/user/addUserForm">Erfasse einen neuen Benutzer</a></p>
	<p><a href="/user/listAll">Zeige alle Benutzer</a></p>
	<br></br>
	<p><a href="/tour/makeTour">Erstelle eine neue Tour</a></p>
	<p><a href="/tour/listAll">Zeige alle Touren</a></p>

</body>
</html>