<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
	<title>Anmelden</title>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
        <h1>Anmelden</h1>
	<div class="container">
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Willkomen"></h3>
			<br/>
			 
			<input type="text" id="name" name="name"  th:placeholder="Benutzername"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Passwort"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Benutzername oder Password falsch, bitte versuchen Sie es erneut.</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Anmelden"></button>
		</form>
	</div>
</body>
</html>