<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
	<title>Registrierung</title>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<section class="header">
		<p></p>
		<div class="left">
			<header th:inline="text">Willkommen <strong>[[${#httpServletRequest.remoteUser}]]!</strong></header>
		</div>
        <div class="right">
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Abmelden"/>
            	</form>
        </div>
    <hr width="75%"></hr>   
	</section>
	<h1>Benutzer-Registrierung</h1>
	<div class="container_registration">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Benutzername"
								class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}"
								placeholder="Passwort" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<select th:field="*{roleInput}">
  								<!--<option th:each="role : ${allRoles}" 
          							th:value="${role.role}" 
          							th:text="${role.role}"></option>-->
          					<option value="DRIVER">Fahrer</option>
          					<option value="LOGISTICIAN">Logistiker</option>
          					<option value="ADMIN">Admin</option>
							</select>
						</div>
					</div>
					<br/>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="button">Registrieren</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>
<br></br>
<p><a href="/home">Zurück zum Startbildschirm</a></p>
</body>
</html>