<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Paket hinzufügen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Paket hinzufügen</h1>
    <form action="#" th:action="@{/package/addPackageForm}" th:object="${package}" method="post">
    	<p>Lieferadresse: <input type="text" th:field="*{address}" /></p>
        <p>Paketinhalt: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Übermitteln" /> <input type="reset" value="Zurücksetzen" /></p>
    </form>
    <br></br>
    <p><a href="/">Zurück zum Startbildschirm</a></p>
</body>
</html>
