<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <title>Paket hinzufügen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script> </script> <!-- this prevents a chrome bug where button animations trigger on page load -->
</head>
<body>
	<section class="header">
		<p></p>
		<div class="left">
			<header th:inline="text">Willkommen <strong>[[${#httpServletRequest.remoteUser}]]!</strong></header>
		</div>
        <div class="right">
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Abmelden"/>
            	</form>
        </div>
    <hr width="75%"></hr>   
	</section>
	<h1>Paket hinzufügen</h1>
	<div>
    	<form action="#" th:action="@{/package/addPackageForm}" th:object="${package}" method="post">
    		<div class="formAligned">
    			<p> 
    				<label> Lieferadresse: </label>
    				<input type="text" placeholder="-" th:field="*{address}" />
    				<label th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="validation-message"></label>
    			</p>
    			<p> 
    				<label> Gewicht (in kg): </label>
    				<input type="number" th:field="*{weight}" />
    				<label th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="validation-message"></label>
    			</p>
    			<p> 	
    				<label> Höhe(in cm): </label>
    				<input type="number" th:field="*{height}" />
    				<label th:if="${#fields.hasErrors('height')}" th:errors="*{height}" class="validation-message"></label>
    			</p>
    			<p> 
    				<label> Länge(in cm): </label>
    				<input type="number" th:field="*{length}" />
    				<label th:if="${#fields.hasErrors('length')}" th:errors="*{length}" class="validation-message"></label>
    			</p>
    			<p> 
    				<label> Breite(in cm): </label>
    				<input type="number" th:field="*{width}" />
    				<label th:if="${#fields.hasErrors('width')}" th:errors="*{width}" class="validation-message"></label>
    			</p>
    		</div>
       	 	<p>
       	 		<input type="submit" value="Paket erfassen" class ="button" />
        		<input type="reset" value="Zurücksetzen" class ="button"/>
        	</p>
        </form>
    </div>
    <br></br>
    <p><a href="/home" class="links">Zurück zum Startbildschirm</a></p>
</body>
</html>
