<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Liste aller Pakete</title> 
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<section class="header">
		<p></p>
		<div class="left">
			<header th:inline="text">Willkommen <strong>[[${#httpServletRequest.remoteUser}]]!</strong></header>
		</div>
        <div class="right">
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Abmelden"/>
            	</form>
        </div>
    <hr width="75%"></hr>   
	</section>
<h1>Liste aller Pakete</h1>
<p>Filterung:</p> <p th:text="${status}"></p>
<form action="#" th:action="@{listAll}" method="post">
<select name="status">
	<option value="alle">alle</option>
	<option value="pendent">pendent</option>
	<option value="geplant">geplant</option>
	<option value="nicht zustellbar">nicht zustellbar</option>
    <option value="zurück gesendet">zurück gesendet</option>
    <option value="vernichtet">vernichtet</option>
</select>
<button type="submit">Bestätigen</button>
</form>
<form action="#" th:action="@{listSelectedPackage}" method="post">
<table class ="center">
	<thead>
		<tr>
			<th>Paket Nr.</th>
			<th>Lieferadresse</th>
			<th>Gewicht (in kg)</th>
			<th>Höhe (in cm)</th>
			<th>Länge (in cm)</th>
			<th>Breite (in cm)</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="package : ${packages}">
			<td th:text="${package.id}"> </td>
			<td th:text="${package.address}"> </td>
			<td th:text="${package.weight}"> </td>
			<td th:text="${package.height}"> </td>
			<td th:text="${package.length}"> </td>
			<td th:text="${package.width}"> </td>
			<td th:text="${package.statusDisplay}"> </td>
			<td> <input type="radio" name="packageId" th:value="${package.id}" /></td>
		</tr>
	</tbody>
	</table>
	<p><input type="submit" value="Sendedetails anzeigen" /> </p>
	</form>
<br></br>
<p><a href="/home">Zurück zum Startbildschirm</a></p>
</body>
</html>