<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Paket-Historie</title> 
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<section class="header">
		<p></p>
		<div class="left">
			<header th:inline="text">Willkommen <strong>[[${#httpServletRequest.remoteUser}]]!</strong></header>
		</div>
        <div class="right">
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Abmelden"/>
            	</form>
        </div>
    <hr width="75%"></hr>   
	</section>
<h1>Pakete-Historie</h1>
<table class ="center">
	<thead>
		<tr>
			<th>Revisionsnr.</th>
			<th>Revisionsbenutzer</th>
			<th>Revisionszeitpunkt</th>
			<th>Revisionstyp</th>
			<th>Paket Nr.</th>
			<th>Lieferadresse</th>
			<th>Gewicht (in kg)</th>
			<th>Höhe (in cm)</th>
			<th>Länge (in cm)</th>
			<th>Breite (in cm)</th>
			<th>Zustellversuche</th>
			<th>Empfänger nicht erreichbar</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="package : ${specificPackageHistory}">
    <td th:text="${package.rev}"> </td>
    <td th:text="${package.info?.getRevuser()}"> </td>
	<td th:text="${package.info?.getRevtstmp()}"> </td>
	<td>
	<div th:if="${package.revtype} == 0">erstellt</div>
	<div th:if="${package.revtype} == 1">geändert</div>
	<div th:if="${package.revtype} == 2">gelöscht</div>
	</td>
    <td th:text="${package.id}"> </td>
	<td th:text="${package.address}"> </td>
	<td th:text="${package.weight}"> </td>
	<td th:text="${package.height}"> </td>
	<td th:text="${package.length}"> </td>
	<td th:text="${package.width}"> </td>
	<td th:text="${package.deliveryCounter}"> </td>
	<td th:text="${package.notDeliverableCounter}"> </td>
	<td th:text="${package.statusDisplay}"> </td>
</tr>
	</tbody>
	</table>
<br></br>
<p><a href="/package/listAll">Zurück zur Liste aller Pakete</a></p>
<p><a href="/home">Zurück zum Startbildschirm</a></p>
</body>
</html>