<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<style>
table {
    font-family: "Times New Roman";
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    <title>Liste aller Pakete</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Liste aller Pakete</h1>
<table>
	<thead>
		<tr>
			<th>Lieferadresse</th>
			<th>Paketinhalt</th>
			<th>zugestellt?</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="package : ${packages}">
			<td th:text="${package.address}"> </td>
  			<td th:text="${package.content}"> </td>
  			<td th:text="${package.isDelivered}"> </td>
  			
		</tr>
	</tbody>
</table>
<br></br>
<p><a href="/">Zurück zum Startbildschirm</a></p>
</body>
</html>