<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Verwaltung der nicht zustellbaren Pakete</title> 
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<section class="header">
		<p></p>
		<div class="left">
			<header th:inline="text">Willkommen <strong>[[${#httpServletRequest.remoteUser}]]!</strong></header>
		</div>
        <div class="right">
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Abmelden"/>
            	</form>
        </div>
    <hr width="75%"></hr>   
	</section>
<h1>Verwaltung der nicht zustellbaren Pakete</h1>
<form action="#" th:action="@{/package/manageNotDeliverablePackages}" th:object="${package}" method="post">
<table class ="center">
	<thead>
		<tr>
			<th>Paket Nr.</th>
			<th>Lieferadresse</th>
			<th>Gewicht (in kg)</th>
			<th>Höhe (in cm)</th>
			<th>Länge (in cm)</th>
			<th>Breite (in cm)</th>
			<th>Nächster Schritt</th>
			<th>Neue Adresse</th>
			
		</tr>
	</thead>
	<tbody>
		<tr th:each="package : ${notDeliverablePackages}">
			<td th:text="${package.id}"> </td>
			<td th:text="${package.address}"> </td>
			<td th:text="${package.weight}"> </td>
			<td th:text="${package.height}"> </td>
			<td th:text="${package.length}"> </td>
			<td th:text="${package.width}"> </td>
			<td> <select name="action">
				<option value="nicht zustellbar">Nichts unternehmen</option>
          		<option value="zurück gesendet">An Absender zurücksenden</option>
          		<option value="pendent">Zustellung erneut versuchen</option>
          		<option value="vernichtet">Vernichten</option>
			</select></td>
			<td>
				<input type="text" name="newAddress"></input>
			</td>
		</tr>
	</tbody>
	</table>
	<p th:if="${notDeliverablePackages.size() == 0}">keine <i>nicht zustellbaren</i> Pakete vorhanden</p>
	<p th:if="${notDeliverablePackages.size() > 0}"><button type="submit" class="button">Bestätigen</button></p>
	</form>
<br></br>
<p><a href="/home">Zurück zum Startbildschirm</a></p>
</body>
</html>