<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
</head>
<body>
	<section class="header">
		<p></p>
		<div class="left">
			<header th:inline="text">Willkommen <strong>[[${#httpServletRequest.remoteUser}]]!</strong></header>
		</div>
        <div class="right">
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Abmelden"/>
            	</form>
        </div>
    <hr width="75%"></hr>   
	</section>
<h1>Liste aller Benutzer</h1>
<table class="center">
	<thead>
		<tr>
			<th>Nr.</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="user : ${users}">
			<td th:text="${user.id}"> </td>
  			<td th:text="${user.name}"> </td>
  			
		</tr>
	</tbody>
</table>
<br></br>
<p><a href="/home" class="links">Zurück zum Startbildschirm</a></p>
</body>
</html>