<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tour erstellen</title>
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<section class="header">
		<p></p>
		<div class="left">
			<header th:inline="text">Willkommen <strong>[[${#httpServletRequest.remoteUser}]]!</strong></header>
		</div>
        <div class="right">
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Abmelden"/>
            	</form>
        </div>
    <hr width="75%"></hr>   
	</section>
	<h1>Tour erstellen</h1>
	<div class="container_registration">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/tour/createTour}"
					th:object="${tour}" method="post" class="form-horizontal"
					role="form">
					<div class="form-group">
						<div class="col-sm-9">
						<h3>Fahrer auswählen</h3>
							<table class="center">
								<thead>
									<tr>
										<th>BenutzerId</th>
										<th>Name</th>
										<th> </th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${drivers}">
										<td th:text="${user.id}"> </td>
							  			<td th:text="${user.name}"> </td>
							  			<td> <input type="radio" name="driverId" th:value="${user.id}" /> </td>		 
									</tr>
								</tbody>
							</table> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<h3>Pakete auswählen</h3>
							<table class="center">
								<thead>
									<tr>
										<th>Paket Nr.</th>
										<th>Lieferadresse</th>
										<th>Gewicht (in kg)</th>
										<th>Höhe (in cm)</th>
										<th>Länge (in cm)</th>
										<th>Breite (in cm)</th>
										<th>Anzahl Zustellversuche</th>
										<th>Status</th>
										<th> </th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="package : ${packagesNotDelivered}">
										<td th:text="${package.id}"> </td>
							  			<td th:text="${package.address}"> </td>	
							  			<td th:text="${package.weight}"> </td>
										<td th:text="${package.height}"> </td>
										<td th:text="${package.length}"> </td>
										<td th:text="${package.width}"> </td>
										<td th:text="${package.deliveryCounter}"> </td>
										<td th:text="${package.statusDisplay}"> </td>
							  			<td> <input type="checkbox" name="packageId" th:value="${package.id}" /> </td>		 
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
					<h3>Geschätzte Lieferzeit (in min)</h3>
					<div class="form-group">
						<div class="col-sm-9">
							 <input type="number" name="estimatedDeliveryTime" placeholder="-" th:value="${estimatedDeliveryTime}" />
						</div>
					</div>
					<br/>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="button">Tour erstellen</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<br></br>
<p><a href="/home">Zurück zum Startbildschirm</a></p>
</body>
</html>