<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> <style>

	body {
    	background-color: lightblue;
    	text-align: center;
 		}
 		
 	table.center {
 		margin-left: auto;
 		margin-right: auto;
 	}
    
	table {
	    font-family: "Times New Roman";
	    border-collapse: collapse;
	    width: 50%;
	}
	
	td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	}
	
	tr:nth-child(even) {
	    background-color: #dddddd;
	}
	</style>
    <title>Fahrerauswahl</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h4 th:inline="text">Willkommen [[${#httpServletRequest.remoteUser}]]!</h4>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Abmelden"/>
        </form>
        <hr width="75%"></hr>
	<h1>Fahrerauswahl</h1>
    <form action="#" th:action="@{/tour/driverSelection}" th:object="${driverId}" method="post">
		<table class="center">
		<thead>
			<tr>
				<th>BenutzerId</th>
				<th>Name</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${drivers}">
				<td th:text="${user.id}"> </td>
	  			<td th:text="${user.name}"> </td>
	  			<td> <input type="radio" name="driverId" th:value="${user.id}" /> </td>		 
			</tr>
		</tbody>
		</table>
        <p><input type="submit" value="Übermitteln" /> </p>
    </form>
    <br></br>
<p><a href="/">Zurück zum Startbildschirm</a></p>
</body>
</html>
