<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<title>Liste aller Touren</title> 
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<section class="header">
		<p></p>
		<div class="left">
			<header th:inline="text">Willkommen <strong>[[${#httpServletRequest.remoteUser}]]!</strong></header>
		</div>
        <div class="right">
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Abmelden"/>
            	</form>
        </div>
    <hr width="75%"></hr>   
	</section>
<h1>Liste aller Touren</h1>
<p>Wählen Sie eine Tour zum betrachten</p>
<form action="#" th:action="@{/tour/listSelectedTour}" th:object="${tourId}" method="post">
	<table class ="center">
		<thead>
			<tr>
				<th>TourId</th>
				<th>Name des Fahrers</th>
				<th>Status</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tour : ${tours}">
				<td th:text="${tour.id}"> </td>
				<td th:text="${tour.driver.name}"> </td>
				<td>
				<div th:if="${tour.isFinished} == true">abgeschlossen</div>
				<div th:if="${tour.isFinished} == false">pendent</div>
				</td>
				<td> <input type="radio" name="tourId" th:value="${tour.id}" /> </td>		
				
			</tr>
		</tbody>
	</table>
	<p><input type="submit" value="Tour anzeigen" /> </p>
</form>
<br></br>
<p><a href="/home">Zurück zum Startbildschirm</a></p>
</body>
</html>