<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <title>Meine Tour</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<section class="header">
		<p></p>
		<div class="left">
			<header th:inline="text">Willkommen <strong>[[${#httpServletRequest.remoteUser}]]!</strong></header>
		</div>
        <div class="right">
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Abmelden"/>
            	</form>
        </div>
    <hr width="75%"></hr>   
	</section>
<h1>Meine Tour</h1>
<p th:if="${myTour != null}">Geschätzte Lieferzeit: <span th:text="${myTour?.getEstimatedDeliveryTime()}"></span> min</p>
<table class ="center">
	<thead>
		<tr>
			<th>Paket Nr.</th>
			<th>Lieferadresse</th>
			<th>Gewicht (in kg)</th>
			<th>Höhe (in cm)</th>
			<th>Länge (in cm)</th>
			<th>Breite (in cm)</th>
			<th>Anzahl Zustellversuche</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="package : ${myTour?.getPacks()}">
			<td th:text="${package.id}"> </td>
			<td th:text="${package.address}"> </td>
			<td th:text="${package.weight}"> </td>
			<td th:text="${package.height}"> </td>
			<td th:text="${package.length}"> </td>
			<td th:text="${package.width}"> </td>
			<td th:text="${package.deliveryCounter}"> </td>
			<td th:text="${package.statusDisplay}"> </td>
		</tr>
	</tbody>
	</table>
	<p th:if="${myTour == null}">keine Tour vorhanden</p>
<br></br>
<p><a href="/home" class="links">Zurück zum Startbildschirm</a></p>
</body>
</html>