<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> <style>

  body {
    	background-color: lightblue;
    	text-align: center;
    	}
    	
    table.center{
    	margin-left: auto;
    	margin-right: auto;
  	}
	table {
	    font-family: "Times New Roman";
	    border-collapse: collapse;
	    width: 50%;
	}
	
	td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	}
	
	tr:nth-child(even) {
	    background-color: #dddddd;
	}
	</style>
    <title>Paketauswahl</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h4 th:inline="text">Willkommen [[${#httpServletRequest.remoteUser}]]!</h4>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Abmelden"/>
        </form>
        <hr width="75%"></hr>
	<h1>Paketauswahl</h1>
		<p>Wählen Sie nun die Pakete aus, welche Sie im nächsten Schritt einem Fahrer zuordnen möchten.</p>
    <form action="#" th:action="@{/tour/packageSelection}" th:object="${packageIds}" method="post">
		<table class="center">
		<thead>
			<tr>
				<th>PaketId</th>
				<th>Lieferadresse</th>
				<th>Gewicht</th>
				<th>Höhe</th>
				<th>Länge</th>
				<th>Breite</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="package : ${packagesNotDelivered}">
				<td th:text="${package.id}"> </td>
	  			<td th:text="${package.address}"> </td>	
	  			<td th:text="${package.weight}"> </td>
				<td th:text="${package.height}"> </td>
				<td th:text="${package.length}"> </td>
				<td th:text="${package.width}"> </td>
	  			<td> <input type="checkbox" name="packageId" th:value="${package.id}" /> </td>		 
			</tr>
		</tbody>
		</table>	

        <p><input type="submit" value="Übermitteln" /> </p>
    </form>
    <br></br>
<p><a href="/">Zurück zum Startbildschirm</a></p>
</body>
</html>
