<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> <style>
	table {
	    font-family: "Times New Roman";
	    border-collapse: collapse;
	    width: 50%;
	}
	
	td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	}
	
	tr:nth-child(even) {
	    background-color: #dddddd;
	}
	</style>
    <title>Paketauswahl</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Paketauswahl</h1>
		<p>Wählen Sie nun die Pakete aus, welche Sie im nächsten Schritt einem Fahrer zuordnen möchten.</p>
    <form action="#" th:action="@{/tour/packageSelection}" th:object="${packageIds}" method="post">
		<table>
		<thead>
			<tr>
				<th>PaketId</th>
				<th>Lieferadresse</th>
				<th>Paketinhalt</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pack : ${packagesNotDelivered}">
				<td th:text="${pack.id}"> </td>
	  			<td th:text="${pack.address}"> </td>
	  			<td th:text="${pack.content}"> </td>	
	  			<td> <input type="checkbox" name="packageId" th:value="${pack.id}" /> </td>		 
			</tr>
		</tbody>
		</table>	

        
        <p><input type="submit" value="Übermitteln" /> </p>
    </form>
    <br></br>
<p><a href="/">Zurück zum Startbildschirm</a></p>
</body>
</html>
